{% extends "base.html" %}

{% block content %}
    <div class="user-profile-page">
        <img class="user-image" src="{{user.image_url}}" alt="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png">
        <div class="user-details">
            <h1 class="user-name">{{ user.get_full_name() }}</h1>
            <div class="user-actions">
                <form class="edit-user-form" action="/users/{{user.id}}/edit">
                    <button class="edit-button">Edit</button>
                </form>
                <form class="delete-user-form" action="/users/{{user.id}}/delete" method="POST">
                    <button class="delete-button">Delete</button>
                </form>
            </div>
        </div>
        <a class="go-back-link" href="/users">Go Back</a>
    </div>
{% endblock %}
