{% extends "base.html" %}
{% block content %}
    <div class="users-page">
        <h1 class="page-title">Users</h1>
        <ul class="users-list">
            {% for user in users %}
                <li class="user-item">
                    <a class="user-link" href="/users/{{user.id}}">{{ user.get_full_name() }}</a>
                </li>     
            {% endfor %}
        </ul>
        <form class="add-user-form" action="/users/new">
            <button class="add-user-button">Add User</button>
        </form>
    </div>
{% endblock %}
